*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    aspect-ratio: 1 / 1;
    position: relative;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.card{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    aspect-ratio: 1 / 1;
    font-size: 100px;
    cursor: pointer;
}
.card:hover{
    background-color: rgba(88,88,88,0.5);
}
.contain-final{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 5px;
    width: 29vw;
    top: 0%;
    left: 0%;
}
.bar{
    height: 29vw;
    width: 5px;
    font-size: 50vw;
}
#card00{
    border-top: 2px solid white;
    border-left: 2px solid white;
}
#card01{
    border-top: 2px solid white;
}
#card02{
    border-top: 2px solid white;
    border-right: 2px solid white;
}
#card10{
    border-left: 2px solid white;
}
#card12{
    border-right: 2px solid white;
}
#card20{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}
#card21{
    border-bottom: 2px solid white;
}
#card22{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}