*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    aspect-ratio: 1 / 1;
    position: relative;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.card{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    aspect-ratio: 1 / 1;
    font-size: 100px;
    cursor: pointer;
}
.card:hover{
    background-color: rgba(88,88,88,0.5);
}
.contain-final{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 5px;
    width: 29vw;
    top: 0%;
    left: 0%;
}
.bar{
    height: 29vw;
    width: 5px;
    font-size: 50vw;
}
#result1{
    width: 0;
    transition: width 1s ease-in-out;
}
#result2{
    height: 0;
    transition: height 1s ease-in-out;
}
.bt{
    border-top: 2px solid white;
}
.br{
    border-right: 2px solid white;
}
.bl{
    border-left: 2px solid white;
}
.bb{
    border-bottom: 2px solid white;
}