*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}
.game{
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    aspect-ratio: 1 / 1;
    position: relative;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.card{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    aspect-ratio: 1 / 1;
    font-size: 100px;
    cursor: pointer;
}
.card:hover{
    background-color: rgba(88,88,88,0.5);
}
.contain-final{
    border: 2px solid red;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 15px;
    width: 29vw;
    top: 0%;
    left: 0%;
    /* transform: rotate(45deg); */
}
.bar{
    height: 29vw;
    width: 15px;
    font-size: 50vw;
}